= form_for @form, html: {class: "ui compact fluid form"} do |f|
  - if @form.errors.any?
    %div.ui.negative.message
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :creator_id, value: current_user.id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_date
    = f.text_field :start_date, class: "datepicker"
  .field
    = f.label :end_date
    = f.text_field :end_date, class: "datepicker"
  .actions
    = f.submit class: "ui submit button"