.accordion
  .title
    %i.dropdown.icon
    = f.object.title

  .ui.stacked.secondary.segment.content
    = f.label :title
    = f.text_field :title

    = f.fields_for :questions do |question|
      = render "question_fields", f: question
    .add_question
      %br
      %i.square.plus.icon
      = link_to_add_fields "Question", f, :questions