.ui.stacked.secondary.segment
  = f.label :title
  = f.text_field :title

  = f.fields_for :questions do |question|
    = question.text_field :content, placeholder: "Question"

  .add_question
    %br
    %i.square.plus.icon
    = link_to_add_fields "Question", f, :questions
