= form_for(@form, url:{ action: :submission}, remote: true, html: {class: "ui fluid form"}) do |f|
  = hidden_field_tag "form[teacher_id]", teacher, id: "teacher_" + teacher.to_s
  = hidden_field_tag "form[subject_id]", subject, id: "subject_" + subject.to_s
  %table.ui.celled.striped.table
    = f.fields_for :sections, include_id: false do |section|
      %thead
        %tr
          %th= ("A".ord + section.index).chr
          %th{colspan: "11"}= section.object.title
      %tbody
        = section.fields_for :questions do |question|
          %tr
            %td= question.index + 1
            %td= question.object.content
            %td
              = hidden_field_tag "form[question_points][]", 0, id: "points_" + question.object.id.to_s
              = hidden_field_tag "form[question_ids][]", question.object.id, id: "question_" + question.object.id.to_s
              .ui.star.feedback.rating{"data-max-rating"=>"10"}
        %tr
          %td{colspan: 3}
            = text_area_tag "form[remark]", nil, id: "remark_" + Time.new.to_i.to_s, rows: 2, placeholder: "Any other remarks"
  = f.submit 'Save', disabled: "true", class: "ui negative button"