= form_for @form, html: {class: "ui compact fluid form"} do |f|
  - if @form.errors.any?
    %div.ui.negative.message
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message
  .field
    = f.collection_select :batch_ids, Batch.active.all, :id, :full_name, {}, multiple: true
  .actions
    = f.submit class: "ui submit button"