%h1 Feedback Forms

%table.ui.table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th{colspan: "6"}

  %tbody
    - @forms.each do |form|
      %tr
        %td
          = form.name
        %td
          = form.start_date
        %td
          = form.end_date

        - if policy(form).show?
          %td
            = link_to 'View Form', form

        - if policy(form).by_form?
          %td
            = link_to 'Overall Report', form_reports_by_form_path(form)

        - if policy(form).by_teacher?
          %td
            = link_to 'Individual Report', form_reports_by_teacher_path(form)

        - if policy(form).batches?
          %td
            = link_to 'Batches', form_batches_path(form)

        - if policy(form).questions?
          %td
            = link_to 'Questions', form_questions_path(form)

        - if policy(form).edit?
          %td
            = link_to 'Edit', edit_form_path(form)

        - if policy(form).destroy?
          %td
            = link_to 'Remove', form, method: :delete, data: { confirm: 'Are you sure?' }

        - if policy(form).submission?
          %td
            = link_to 'Submit Feedback', form_submission_path(form)
<br>

= link_to 'New Form', new_form_path
