= form_for(@form, html: {class: "ui fluid form"}) do |f|
  - if @form.errors.any?
    .error_explanation
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message

  .ui.accordion
    = f.fields_for :sections do |section|
      = render "section_accordion_fields", f: section

  .ui.divider
  .add_section
    %br
    %i.square.plus.icon
    = link_to_add_fields "Section", f, :sections
  .actions
    <br>
    = f.submit class: "ui submit button"