%table.ui.celled.table
  - @form.sections.each_with_index do |section, i|
    %thead
      %tr
        %th= ("A".ord + i).chr
        %th= section.title
    - section.questions.each_with_index do |question, j|
      %tbody
        %tr
          %td= 1+j
          %td
            = question.content