%h1 Feedback

.ui.segment
  .ui.accordion
    - @teachers.each_with_index do |teacher, index|
      .accordion.field{"data-index" => index}
        .title
          %i.icon.dropdown
          = teacher[:name] + " - " + teacher[:subject]
        .content.field
          = render 'submission_form', teacher: teacher[:id], subject: teacher[:subject_id]