- @statistics.each do |graph|
  .ui.tertiary.segment
    %h5= graph[:question]
    = column_chart graph[:data]

    %table.ui.table
      %thead
        %tr
          %th Name
          %th Subject
          %th Points

      %tbody
        - graph[:data].each do |subject|
          %tr
            %td= subject[0][0]
            %td= subject[0][1]
            %td= subject[1]